Security_AppName = security

# TDM - one stack
client = m3ua_0
client = tcap_0
client = isup_0
client = mgmt
client = sif

# Remote_IP is the IP address or hostname of the server running the peer security application
# Remote_IP = hobnob
# Remote_IP = 10.7.3.65
Remote_IP = <FIXME>

# Local_PlaneID is the ID of the security plane on which this security application is running.
# Valid values are 0 and 1.
# Plane 0 will be the preferred worker plane.
# The two servers CANNOT have the same Local_PlaneID
LOCAL_PLANEID = 0

# Remote_Port is the port we connect to the remote security application on
# Remote_Port is optional and defaults to 9300
# This must agree with the InterPlane_ServerPort on the remote interface node.
# This port must be open in the remote host's firewall.
# Remote_Port = 9300 

# InterPlane_ServerPort is the port we accept connections from the remote security app on.
# InterPlane_ServerPort is optional and defaults to 9300
# This must agree with the Remote_Port on the remote interface node.
# This port must be open in this server's firewall.
# InterPlane_ServerPort = 9300

# LocalPlaneServerPort is the port on which we accept connections from the secured applications on the local plane
# LocalPlaneServerPort is optional and defaults to 9100
# This must agree with the -sclient and -security options in the wrapper scripts for the Telesoft processes and
# the management daemon and sif configuration.
# LOCALPLANE_SERVERPORT = 9100

# ADMIN_PORT specifies the port number for the telnet administration.
# ADMIN_PORT is optional and defaults to 62888
# ADMIN_PORT = 45000
