# EWOK
EwokNodeId = 1001
EwokNodeName = dist
# FIXME.
ldConnection = localhost:15102
# EwokDestType = 11 (Defaults to 11 "Telesoft SIF")

# SNMP
# 2 or 3 (Defaults to 3)
snmpVersion = 3
# FIXME
snmpHost = localhost
snmpCommunity = enginecommunity
snmpSecurityName = snmpUser
# NOAUTH_NOPRIV/AUTH_NOPRIV/AUTH_PRIV (Defaults to AUTH_PRIV)
snmpSecurityLevel = auth_priv
# NONE/MD5/SHA (Defaults to SHA)
snmpAuthProtocol = MD5
# NONE/DES/AES128/AES192/AES256 (Defaults to AES256)
snmpPrivProtocol = AES192
snmpAuthPassword = authPasswd
snmpPrivPassword = privPasswd
snmpEngineId = 80001370017f000001
snmpContextName = EvolvedIntelligence_DIST
snmpEngineContextId = 800002b804646566
