[M3UA STACKS]
#StackName|NodeType|SourceIPs|SCTPPort|RTOInit-ms|RTOMin-ms|RTOMax-ms|HearbeatEnabled|HeartbeatDuration-ms
m3ua_0|ASP|10.7.3.66|8877|3000|1000|60000|YES|5000

[M3UA NETWORKS]
#NetworkName|NetworkInd|Variant|M3UAStackName
M3UANW1|National|ITU|m3ua_0

[REMOTE SGPS]
#RemoteSGPName|M3uaStackName|NetworkName|DynamicRegistration|IP|SCTPPort|NetworkApperance|SecondaryIPs
SGP1|m3ua_0|M3UANW1|NO|10.7.3.14|8877|0|N/A|ASPUp=0ms,ASPActive=0ms,DAUD=0ms

[LOCAL AS]
#Name|M3uaStackName|AppId|NetworkName|PointCode|SSNs|RoutingContext|RemoteSGPNames
LocalAS1|m3ua_0|tcap_0|M3UANW1|4105|1,5|2|SGP1

[DESTINATION CONFIGURATION]
#DESTINATION_NAME|DESTINATION_PC|DESTINATION_NI
STP|13396|NATIONAL

[M3UA ROUTES]
#DestinationName|M3uaStackName|RemoteSGPNames|RoutingContext|CheckDestAvailability
STP|m3ua_0|SGP1|2|YES

[SCCP PROVIDERS]
#ProviderName|MTPStackName
sccp_0|m3ua_0

[SNMP HOST AND COMMUNITY]
#SNMPHost|SNMPCommunity
localhost|enginecommunity

[SNMP VARBIND CONFIGURATION]
#[VarBindName [, VarBindName ...]]
Severity, SeverityFixedPos, NotNonStandardComment

[SNMP PROPERTIES]
#Version|SecurityName|SecurityLevel|AuthProto|PrivProto|AuthPw|PrivPw|engineId|contextName|contextEngineId
# This section should only be included if SNMPv3 is to be configured.
#
#       SecurityLeve = AUTH_PRIV|AUTH_NOPRIV|NOAUTH_NOPRIV
#       AuthProto    = SHA|MD5|NONE
#       PrivProto    = 3DES|AES256|AES192|IDEA|AES128|DES|NONE
#
3|SNMPv3User|AUTH_PRIV|SHA|AES256|aPassword|pPassword|1122334455|SNMPv3_UnitTest|1122334455
