# FIXME - ldNodeIds must be unique at the load director.
ldNodeId = 3535
ldNodeName = PMON
ldResponseTimeout = 2
ldConnection = localhost:15102
ldManageHeartbeats = true
ldClientSideBalancingEnabled = true

MaxPacketDropPercentage = 0.5
PcapStatsInterval = 1min

SNMPName = snmpPassiveMonitor
SNMPHost = snmphost
SNMPCommunity = enginecommunity

PcapDevice = eth0
# These relative paths are relative to
# the location of this config file.
PluginLibPath = ../lib/libss7messagestore.so
PLUGINCONFIGFILE = ../conf/ss7_message_store.conf
TcpDumpFilter = ip proto 132
