MaxPacketDropPercentage = 0.5
PcapStatsInterval = 1min

SNMPName = snmpPassiveMonitor
SNMPHost = snmphost
SNMPCommunity = enginecommunity

PcapDevice = eth0
# These relative paths are relative to
# the location of this config file.
PluginLibPath = ../lib/libtcpwatchdog.so
PLUGINCONFIGFILE = ../conf/tcpwatchdog.conf
# IP protocol == TCP
# FIXME - there are numerous options here.
# The IP proto 6 as shown or we could
# filter based on TCP port numbers.
# Or a combination or source and dest IPs
# and source and dest TCP port nums.
TcpDumpFilter = ip proto 6
