#
# Copyright Evolved Intelligence 2017. This program must not be used
# for any purpose without written permission from Evolved Intelligence.
# http://www.evolvedintelligence.com/
#

#
# SIF SIGNALLING RELAY CONFIGURATION FILE
#

#######################################################
# LOAD DIRECTOR COMMS CONFIGURATION                   #
#######################################################

# The LD protocol node id field to use in messages
# Default 0
ldNodeId = 0

# The LD protocol node name field to use when connecting
# Default "SIF"
ldNodeName = SIF

# Connections to use for the Load Director.
# Format host:port
ldConnection = 192.168.1.204:15102

#######################################################
# FAILOVER CONFIGURATION                              #
#######################################################

# Type of failover mechanism that the SIF is using.
# Values:
#       NONE        - no failover functionality
#       MGMT_DAEMON - management daemon provides
#                     failover directives
#       C_CURE      - C-Cure Secuity Application
#                     provides failover directives
failoverType = NONE

# Connection for receiving failover instructions
# (either Management Daemon or C-Cure Security App)
# Format host:port
failoverConnection = localhost:16555

#######################################################
# TDAPI COMMS CONFIGURATION                           #
#######################################################

tdapiService = sccp_0
tdapiService = sccp_1

# sccpInvokingUserDetails = userName/bindAsGt/pointCode/SSN/globalTitle/national/serviceProvider
sccpInvokingUserDetails = INVSCCP1/N/123/8/-/N/sccp_0

# sccpReturningUserDetails = userName/bindAsGt/pointCode/SSN/globalTitle/national/serviceProvider
sccpReturningUserDetails = RETSCCP1/N/123/8/-/N/sccp_1

# mapUserDetails = userName/bindAsGt/pointCode/SSN/globalTitle/national/serviceProvider
mapUserDetails = MAP1/Y/-/5/44796612345/N/nmap_0
mapUserDetails = MAP2/Y/-/6/44796625790/N/nmap_1

mapDefaultUser = MAP1


# mapResponseTimeout = timeoutValueInSeconds
mapResponseTimeout = 5

# callingPartyMapping = callingPartyGlobalTitle|destinationPointCode
callingPartyMapping = 123/13396
callingPartyMapping = 124/8765

# activeServiceComponent = serviceComponentName/priority
activeServiceComponent = preferredNetwork/1
activeServiceComponent = optimalRouting/2

#######################################################
# TCAP END POINT CONFIGURATION                        #
#######################################################

tcapEndPointEnabled = N

#######################################################
# MAP END POINT CONFIGURATION                         #
#######################################################

mapEndPointEnabled = N

#######################################################
# CAP END POINT CONFIGURATION                         #
#######################################################

capEndPointEnabled = N

#######################################################
# ISUP END POINT CONFIGURATION                         #
#######################################################

isupEndPointEnabled = N

#######################################################
# SCCP RELAY CONFIGURATION                            #
#######################################################

sccpMapRelayEnabled = N
sccpCapRelayEnabled = N

#######################################################
# SCCP END POINT CONFIGURATION                        #
#######################################################

sccpEndPointEnabled = N


# relayDefaultDpc = destinationPointCode
relayDefaultDpc = incomingOPC

# tenancyDirectory = filePathOfDirectoryContainingTenancyConfig
tenancyDirectory = /opt/engine/conf/tenant
tenancyConfigReloadTimeout = 5
tenantPrefixOverlapPermitted = Y
enableServiceSpecificTenantDetermination = Y

######################################################
# RABBIT MQ EDR CONFIGURATION                        #
######################################################

edrClientEnabled=Y
edrClientConnection=app1:5672
edrClientConnection=app2:5672
edrClientUserName=engineUser
edrClientPassword=enginePassword
edrClientExchange=engineExchange
edrClientBackupFile=/tmp/edr_backup
edrClientBackupFileMaxSize=10M
edrClientReconnectAttemptIntervalSeconds=222
# Default to zero (which means AMQP heartbeats are disabled).
# edrClientAmqpHeartbeatIntervalSeconds=10

#----------------------------------------------------#
# TLS 1.2 Support for RABBIT MQ AMQP                 #
#----------------------------------------------------#
# TLS/SSL support can be enabled individually for
# each RabbitMQ server connection or it can be enabled
# "globally" for all connections.
# Additionally all certificates and keys can be different
# for each connection or a global set of certificates and
# keys can be used for all connections.
# By default TLS is disabled for all connections so much
# be explicitly enabled.

# edrClientTlsEnabled = Y
# edrClientTlsEnabled = app1:5672 : Y

# edrClientTlsCACertificate = /opt/engine/certs/global_rmq_ca_cert.pem
# edrClientTlsCACertificate = app1:5672 : /opt/engine/certs/app1_rmq_ca_cert.pem

# edrClientTlsClientCertificate = /opt/engine/certs/global_client_cert.pem
# edrClientTlsClientCertificate = app1:5672 : /opt/engine/certs/app1_client_cert.pem

# edrClientTlsClientKey = /opt/engine/certs/global_client_key.pem
# edrClientTlsClientKey = app1:5672 : /opt/engine/certs/app1:client_key.pem

# edrClientTlsHostnameVerificationEnabled = Y
# edrClientTlsHostnameVerificationEnabled = app1:5672 : Y

######################################################
# HAZELCAST CLIENT CONFIGURATION                     #
######################################################

hazelcastConnection=ei20:5870
hazelcastConnection=ei21:5871
hazelcastUser=engine
hazelcastPassword=engineengine
hazelcastUseAuthentication=N

######################################################
# STATISTICS CONFIGURATION                           #
######################################################

statsDirectory=/opt/engine/stats
######################################################
# SHARED DIALOGUE STATE CONFIGURATION                #
######################################################

dialogueStateSharingEnabled=Y

######################################################
# Global incoming SCCP UDT/UDTS relay flag           #
# By default we relay received UDT/UDTS messages.    #
# Setting the value to Y will mean we drop all       #
# received SCCP UDT/UDTS messages based on           #
# additional configuration in the                    #
# tenant.cfg - cgpa/cdpa GT/SSN/TT                   #
######################################################
dropAllIncomingUdts=N

#######################################################
# SNMP v3 CONFIGURATION                               #
#######################################################

# Set to Y to use SNMPv3. Otherwise SNMPv2 will be used
snmpV3Enabled=Y

snmpHost=snmphost

# SNMP V3-specific fields:
snmpV3SecurityName=EI-OpenNMS-User

# Set to a hex string e.g. 80001370017f000001
snmpV3EngineId=80001370017f000001

# Set to the following values:
#   NOAUTH_NOPRIV - use neither authentication nor privacy
#   AUTH_NOPRIV   - use authentication but not privacy
#   AUTH_PRIV     - use both authentication and privacy
snmpV3SecurityLevel=AUTH_PRIV

# Set to a hex string e.g. 80001370017f000001
snmpV3ContextEngineId=80001370017f000001

# Set to the following values:
#   NONE - use no authentication protocol
#   MD5 - use md5 authentication protocol
#   SHA - use SHA authentication protocol
snmpV3AuthProtocol=SHA

# Set to the following values:
#   NONE   - use to privacy encryption
#   DES    - use DES privacy encryption
#   AES128 - use AES128 privacy encryption
#   IDEA   - use IDEA privacy encryption
#   AES192 - use AES192 privacy encryption
#   AES256 - use AES256 privacy encryption
#   3DES   - use 3DES privacy encryption
snmpV3PrivProtocol=AES128

snmpV3AuthPassword=ONMSEI2016-auth
snmpV3PrivPassword=ONMSEI2016-priv

# This defaults to false.
#snmpIncludeSeverityVarbindInTraps=true
# This defaults to false.
#snmpIncludeSeverityVarbindInFixedPosInTraps=true
# This defaults to true
#snmpIncludeNonStandardCommentVarbindInTraps=false

