######################################################
# YAANA SPECIFIC CONFIGURATION                       #
######################################################

# mtForwardSMAppCtxVersion = initial AC version for 
# MT Forward SM (1, 2 or 3)
yaana.mtForwardSMAppCtxVersion = 3

# reportSMDelivStatusAppCtxVersion = initial AC version for 
# Report SM Deliver Status (2 or 3)
yaana.reportSMDelivStatusAppCtxVersion = 2

# sriForSmAppCtxVersion  = initial AC version for 
# Send Routing Info For SM (1, 2 or 3)
yaana.sriForSmAppCtxVersion = 1

# purgeMSAppCtxVersion  = initial AC version for 
# Purge MS (2 or 3)
yaana.purgeMSAppCtxVersion = 2

# sendAuthInfoAppCtxVersion = initial AC version for 
# Send Auth Info Invoke (2 or 3)
yaana.sendAuthInfoAppCtxVersion = 2

# updateLocationAppCtxVersion  = initial AC version for 
# Update Location (1, 2 or 3)
yaana.updateLocationAppCtxVersion = 2
yaana.updateLocationCacheIsdData=Y

# cancelLocationAppCtxVersion = initial AC version for
# Cancel Location operations (1, 2, or 3)
yaana.cancelLocationAppCtxVersion = 2

# activateTraceModeAppCtxVersion = initial AC version for
# ActivateTraceMode operations (1, 2, or 3)
yaana.activateTraceModeAppCtxVersion = 1

# deactivateTraceModeAppCtxVersion = initial AC version for
# DeactivateTraceMode operations (1, 2, or 3)
yaana.deactivateTraceModeAppCtxVersion = 3

yaana.isdCrumbDefinitionFile=/opt/engine/crumb/isd.crumb

#######################################################
# SNMP v3 CONFIGURATION                               #
#######################################################

# Set to Y to use SNMPv3. Otherwise SNMPv2 will be used
snmpV3Enabled=Y

snmpHost=snmphost

# SNMP V3-specific fields:
snmpV3SecurityName=EI-OpenNMS-User

# Set to a hex string e.g. 80001370017f000001
snmpV3EngineId=80001370017f000001

# Set to the following values:
#   NOAUTH_NOPRIV - use neither authentication nor privacy
#   AUTH_NOPRIV   - use authentication but not privacy
#   AUTH_PRIV     - use both authentication and privacy
snmpV3SecurityLevel=AUTH_PRIV

# Set to a hex string e.g. 80001370017f000001
snmpV3ContextEngineId=80001370017f000001

# Set to the following values:
#   NONE - use no authentication protocol
#   MD5 - use md5 authentication protocol
#   SHA - use SHA authentication protocol
snmpV3AuthProtocol=SHA

# Set to the following values:
#   NONE   - use to privacy encryption
#   DES    - use DES privacy encryption
#   AES128 - use AES128 privacy encryption
#   IDEA   - use IDEA privacy encryption
#   AES192 - use AES192 privacy encryption
#   AES256 - use AES256 privacy encryption
#   3DES   - use 3DES privacy encryption
snmpV3PrivProtocol=AES128

snmpV3AuthPassword=ONMSEI2016-auth
snmpV3PrivPassword=ONMSEI2016-priv

# This defaults to false.
#snmpIncludeSeverityVarbindInTraps=true
# This defaults to false.
#snmpIncludeSeverityVarbindInFixedPosInTraps=true
# This defaults to true
#snmpIncludeNonStandardCommentVarbindInTraps=false

